@page
@model AbbyWeb.Pages.Categories.CreateModel

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Create Category</h2>
            <hr />
		</div>
		<div class="mb-3">
			Name:
			<input type="text" name="categoryName" />
		</div>
		<div class="mb-3">
			Display Order:
			<input type="text" name="displayOrder" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Create</button>
	</div>
</form>