@page
@model AbbyWeb.Pages.Admin.FoodTypes.IndexModel



<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">FoodType List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="create" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Create New FoodType
			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Category Name
				</th>
				
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.FoodTypes)
			{
				<tr>
					<td width="50%">@obj.Name</td>
					
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
						<a asp-page="Delete" asp-route-id="@obj.Id"  class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</a>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>

</div>